# Ignorar artefatos locais e saídas geradas
.bundle/
logs/
data/
results/
blastdb/
bowtie2/

# DBs locais (se você quiser versionar "db/" no futuro, remova esta linha)
db/

# Temporários
tmp/
dist/

# =========================
# Bioinfo artefacts
# =========================
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.fasta
*.fa
*.fna
*.sam
*.bam
*.bt2

# =========================
# Temporários / backups
# =========================
*.log
*.swp
*.tmp
*.bak
*.bak_*
*.bak.*
*BROKEN*.bak

# =========================
# Config local (não versionar)
# =========================
config.env

# Entradas comuns
__pycache__/
*.pyc
.env
.vscode/
.idea/
